<!-- <form class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>
  <div class="field">
    <label for="title">Title:</label>
    <input name="title" #newtitle>
  </div>
  <div class="field">
    <label for="link">Link:</label>
    <input name="link" #newlink>
  </div>
  <button (click)="addArticle(newtitle, newlink)" class="ui positive right floated button">
    Submit link
  </button>
</form>

<div class="ui grid posts">
  <app-article class="row" *ngFor="let article of sortedArticles()" [article]="article"></app-article>
</div>

<div [ngSwitch]="value">
  <div *ngSwitchCase="'a'">a</div>
  <div *ngSwitchCase="'b'">b</div>
  <div *ngSwitchCase="'c'">c</div>
  <div *ngSwitchDefault>others</div>
</div> -->

<!-- <app-demo-form-sku></app-demo-form-sku> -->

<!-- <app-http-test></app-http-test> -->

<!-- <app-you-tube-search></app-you-tube-search> -->

<!-- <div>
  <nav>
    <a href="">Navigation:</a>
    <ul>
      <li>
        <a [routerLink]="['home']">Home</a>
      </li>
      <li>
        <a [routerLink]="['about']">About</a>
      </li>
      <li>
        <a [routerLink]="['contact']">Contact Us</a>
      </li>
      <li>
        <a [routerLink]="['artists/120']">artist name</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div> -->

<app-di-sample-app></app-di-sample-app>